<mat-card *ngIf="!isSignedIn">
  <mat-card-content>
      <div *ngIf="mode=='signup'">
        <h1>Sign Up</h1>
        <mat-form-field class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput required placeholder="" #emailSignup/>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput required placeholder="" #passwordSignup/>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button style="width:210px; height:35px;" (click)="changeMode('signup')" mat-stroked-button color="primary">already have an account?</button>
        <button style="width:100px; height:35px;" (click)="onSignup(emailSignup.value,passwordSignup.value)" mat-stroked-button color="primary">Sign up</button>
      </div>

      <div *ngIf="mode=='login'">
        <h1>Login</h1>
        <mat-form-field class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput required placeholder="" #email/>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput required placeholder="" #password/>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button style="width:210px; height:35px;" (click)="changeMode('login')" mat-stroked-button color="primary">dont have an account yet?</button>
        <button style="width:100px; height:35px;" (click)="onSignin(email.value,password.value)" mat-stroked-button color="primary">Sign in</button>
      </div>
  </mat-card-content>
</mat-card>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
